<ion-content [fullscreen]="true">
  <div class="app-container ion-text-center">
    <ion-title class="ion-text-center title">
      <div style="font-weight: 700px">Seja</div>
      <div>Bem Vindo!</div>
      <div class="logo">
        <ion-img
          src="assets/logo.png"
          alt="Logo de st wiki"
          style="width: 214px; height: 233px"
        ></ion-img>
        <div style="font-family: 'Saira Stencil One', cursive; font-size: 60px">
          ST Wiki
        </div>
      </div>
    </ion-title>
  </div>

  <div class="button ion-text-center">
    <ion-button fill="outline" routerLink="/tabs/tab2"
      >ACESSE AGORA!
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
