<ion-content [fullscreen]="true">
  <div class="app-container">
    <div class="nav-btn">
      <a routerLink="/tabs/tab2"
        ><ion-img src="assets/nav-btn.svg" alt="botão de voltar"></ion-img
      ></a>
    </div>

    <div class="user-select">
      <ion-img
        src="assets/user-select.png"
        alt="Logo de st wiki"
        style="width: 376px; height: 364px"
      ></ion-img>
    </div>
  </div>

  <div class="options"><p class="options-title">Eu sou...</p></div>

  <div class="button ion-text-center">
    <ion-button
      style="--background: #014926; --color: #ffffff"
      routerLink="/tabs/userRegister"
    >
      <ion-icon name="person-outline"></ion-icon>
      Usuário
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>

    <ion-button fill="outline" routerLink="/tabs/storeRegister">
      <ion-icon name="storefront-outline"></ion-icon>
      Loja
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
