@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

ion-toolbar {
    --background: #FFFFFF;
    --color: black;
    font-family: 'Quicksand', sans-serif;
  }

  .open-menu {
    color: var(--ion-color-default);
    width: 40px;
    height: 40px;
}

.user-profile {
display: flex;
justify-content: center;
align-items: center;
position: relative;
color: black;
background-color: var(--ion-color-default);
height: 30%;
font-family: 'Quicksand', sans-serif;
}

ion-avatar {
  display: block;
  position: absolute;
   top: 55%;
   width: 151px;
   height: 151px;
   font-size: 16px;
}

@media(max-height: 610px ) {
  ion-avatar {
    top: 15%;
  } ion-title {
   display: none;
  }
}

ion-item {
  border-radius: 15px;
  color: black;
  --background: transparent;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
  width: 303px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

.update {
  position: absolute;
  top:170%;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap: 15px;
}

ion-button {
  --background: #FFFFFF;
  --color: var(--ion-color-default);
  --border-color: var(--ion-color-default);
  --border-radius: 15px;
  width: 303px;
  height: 60px;
  font-size: 23px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.button-update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.spinner-overlay {
  position: relative;
}

ion-spinner.spinner-photo {
  position: absolute;
  top: 45%;
  left: 42%;
  transform: translate(-50%, -50%);
  --color: black;
  transform: scale(2);
  z-index: 1;
}

.fd{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
  width: 100%;
  color: red;
  text-align: center;
}

.fd-success {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 100%;
  color: red;
  text-align: center;
}

ion-title {
  position: absolute; 
  top: 15%; 
  color: #ffffff
}