<ion-content [fullscreen]="true">
  <div class="search-container">
    <!-- Div de pesquisa aqui -->
    <ion-searchbar
      [(ngModel)]="address"
      (ionInput)="searchAddress($event)"
      placeholder="Onde você está?"
    ></ion-searchbar>
    <ion-list
      class="ion-margin-horizontal"
      *ngIf="(searchResults && searchResults.length > 0)"
    >
      <ion-item
        (click)="getAddress(result.description)"
        *ngFor="let result of searchResults"
      >
        {{result.description}}
      </ion-item>
    </ion-list>
  </div>

  <div #map id="map">
    <!-- Div do mapa aqui -->
  </div>
</ion-content>
