<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-searchbar
      [(ngModel)]="address"
      (ionInput)="searchAddress($event)"
      placeholder="Onde você está?"
    ></ion-searchbar>
    <ion-list [hidden]="!(searchResults && searchResults.length > 0)">
      <ion-item
        (click)="getAddress(result.description)"
        *ngFor="let result of searchResults"
      >
        {{result.description}}
      </ion-item>
    </ion-list>

    <div #map id="map"></div>
  </ion-content>
</ion-content>
