@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

ion-toolbar {
  --background: #FFFFFF;
  --color: black;
  font-family: 'Quicksand', sans-serif;
}

.open-menu {
  color: var(--ion-color-default);
  width: 40px;
  height: 40px;
}

.app-container {
  color: black;
}

ion-card,
ion-card-title {
  font-family: 'Quicksand', sans-serif;
  --background: #FFFFFF;
  --color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

ion-button {
  width: 200px;
  height: 30px;
  --border-radius: 15px;
  --background: var(--ion-color-default);
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

ion-img {
  width: 400px;
  height: 350px;
  margin: auto;

  @media(max-width: 412px) {
    width: 300px;
    height: 350px;
  }
}