/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


ion-content {
    --background: #FFFFFF; 
  }
  ion-loading.my-loading-class {
    .loading-wrapper {
      --spinner-color: var(--ion-color-default);
      background: transparent;
      box-shadow: none;
      ion-spinner {
        transform: scale(2);
    }
    }
  }

  ion-refresher.refresher-native .refresher-pulling-icon, ion-refresher.refresher-native .refresher-refreshing-icon {
    background: transparent;
    box-shadow: none;
    border: none;
  }

  ion-refresher.refresher-native ion-spinner {
    color: black;
  }
  ion-refresher ion-refresher-content .refresher-pulling .refresher-pulling-icon ion-icon {
    color: black ;
    
  }

  .alert-wrapper.sc-ion-alert-md {
    background: #FFFFFF;
    color: black;
    font-family: 'Quicksand', sans-serif;
    
    .alert-title.sc-ion-alert-md {
      color: black;
      text-align: center;
     }
     

     .alert-input.sc-ion-alert-md {
      color: black;
      font-size: 18px;
     }

     .alert-input.sc-ion-alert-md:focus {
      border-bottom: 2px solid black;
     }

     .alert-button.sc-ion-alert-md {
    color: var(--ion-color-default);
    font-weight: bold;
    font-size: 15px;
     }

     .alert-button.sc-ion-alert-md.alert-button-role-cancel {
      color: black;
     }

     .alert-message.sc-ion-alert-md {
      text-align: center;
     }

  }
  
  .alert-message.sc-ion-alert-md, .alert-input-group.sc-ion-alert-md {
    color: black;
  }

  .fd-alert.sc-ion-alert-md-h {
    --min-height: 200px
  }

  .email-alert.sc-ion-alert-md-h {
    --min-width: 200px;
    --min-height: 300px;

    .alert-head.sc-ion-alert-md {
    padding-top: 60px;
    }
  } 

  .alert-radio-label.sc-ion-alert-md  {
    color: black;
  }

